<body>
  <br />
  <h1 style="text-align: center">Contact Form</h1>

  <div class="container">
    <form action="/action_page.php" >
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Your first name.."
      />

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lastname"
        placeholder="Your last name.."
      />

      <label for="state">Email ID </label>
      <input type="text" id="state" name="state" placeholder="Your Email..." />

   
      <div  class="text-center" >
        <button type="submit" (click)="Alert()" class="form-submit-button text-align: center;  ">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button><br>
        <br>
        
    </div>
    </form>
  </div>
</body>
