
<body>

    <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6" style="color: #0b0033">
              <h1 class="display-4">ABOUT ME</h1>
              <h2>Omkar Kale 10711691</h2>
              <p class="lead mb-0">
                Hi this is me omkar trying to build a page linked to the previous one 
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <img
                src="https://cdn.dribbble.com/users/677572/screenshots/17445794/media/c33ec662c1720a0d0d3bcd3365565aad.png"
                alt=""
               
                class="img-fluid"
                
              />
            </div>
          </div>
        </div>
      </div>
      
      </body>