*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
h3{
  color: #5bbffd; 
} 

h4{

    color: #1DA1F2;
}
h2{ 
 
 
    color: #005C6D;
    text-align: center;
   
}
label{
    color: #0c4852;
    font-size: 15px;
    line-height: auto;
    
 
}

body{
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.form-submit-button {
  background:  #005C6D;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  size: 200px;
  padding: 10px 40px;
  text-align: center;  
  }
  .form-submit-button:hover {
  background: #018cf7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  padding: 10px 40px;
  text-align: center;  
  }
  .form-submit-button2 {
    background:  #005C6D;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    size: 200px;
    padding: 10px 40px;
    text-align: center;  
    width: 100%;
    }
    .form-submit-button2:hover {
    background: #018cf7;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    padding: 10px 40px;
    text-align: center;  
    width: 100%;
    }


.primary-button{
  padding: 0.5rem 1.0rem;
  background-color: #005C6D;
  color: white;
  border-radius: 10px;
  border: none;
}
.disabled-option{
  opacity: 0.5;
  cursor: not-allowed;
}
.app-input{
  width: 90%;
  user-select: none;
  padding: 5px;
  border: none;
  border-bottom: 1px slategrey solid;
  outline: none;

}



.right-align{
  margin-left: auto;
  margin-right: 2%;
  left: 100%;
  right: 0;
}


.error{
  color: darkred;
}

.error-status {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 50%;
  display: flex;
  margin: auto;
  box-shadow: 0 0 5px slategrey;

}






a,button,ion-icon{
cursor: pointer;
}

.primary-color{
color: #005C6D;
} 

ion-icon{
font-size: 20px;
}

.vertical-line{
width: 0;
height: 100%;
border: 1px solid slategrey;
display: flex;
}
.horizontal-line{
width: 98%;
margin: auto;
height: 0;
border: 1px solid slategrey;
display: flex;
}
.horizontal-align-button{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.empty-button{
background: none;
border: none;
}

.primary-background-color{
background-color: #005C6D !important;
color: white;
}

body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes rotate {
0%{
  transform: rotate(0deg);
}
50%{
  transform: rotate(180deg);

}
100%{
  transform: rotate(360deg);
}
} 

.loader {
width: 75px;
height: 75px;
border: 5px solid #d9d9d9;
border-top: 5px solid #005C6DFF;
border-bottom: 5px solid #005C6DFF;
border-radius: 50%;
margin: auto;
animation: rotate 500ms ease-in-out infinite;
}